@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading {
    margin-top: 2rem;
    width: 6rem;
    align-items: center;
    justify-content: center;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    border-top-color: var(--primary-500);
    animation: spinner 0.6s linear infinite;
}

.image-container {
    width: var(--view-width);
    max-width: var(--max-width);
    margin: 3rem auto;
    display: grid;
    gap: 2rem;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

h4 {
    text-align: center;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    margin-top: 2rem;
}

.image-container .img {
    height: 15rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.image-container .img:hover {
    transform: scale(1.1);
}

.btns-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns-container p {
    padding: 1rem;
}

.btn-hipster {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    width: 7rem;
    padding: 10px;
    color: var(--primary-500);
    background: transparent;
}

.btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
}

@media (min-width: 768px) {
    .image-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .image-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}